.rem-btn {
  // width: 174px;
  height: 45px;
  border-radius: 5px !important;
  opacity: 1;
  font-size: 13px !important;
  font-weight: 600 !important;
  &.gold_color {
    color: $goldColor !important;
  }
  &:hover {
    text-decoration: none;
  }
  &.mobile-btn-height {
    height: 45px !important;
  }
  &.main {
    background: $primaryColor 0 0 no-repeat padding-box !important;
    width: 174px;
    height: 45px;
    border: 1px solid $primaryColor !important;
    padding: 10px !important;
    &:hover {
      background-color: #152952 !important;
    }
  }
  &.aux {
    padding: 12px !important;
    text-decoration: none;
    border: none !important;
    color: $primaryColor !important;
    background: $secondaryButtonColor 0 0 no-repeat padding-box !important;
    &:hover {
      background-color: #FFD668 !important;
    }
  }
}
.rounded-button {
  border: 1px solid $primaryColor;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  &.transparent {
    color: $primaryColor;
    background: transparent;
  }
  &.colored {
    color: $goldColor;
    background: $primaryColor;
  }
}
.invoice-edit-button {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  background: $sideNavBg;
  border: none !important;
}
.home_buttons_over {
  position: relative;
  z-index: 0;
}

.auth-btn {
  width: 94px;
  height: 31px;
  border-radius: 23px;
  border: none;
  font-size: 12px;
  .img{
    margin-right: 2px;
  }
  &.logout {
    color: #F10A0A;
    background: $redButtonBg 0% 0% no-repeat padding-box;
  }
  &.login {
    color: #F10A0A;
    background: $primaryColor 0% 0% no-repeat padding-box;
  }
}
button:focus {
  outline: none !important;
}
.secondary-btn {
  border-radius: 23px;
}
@media screen and (max-width: 768px) {
  .buttons-section {
    width: 100% !important;
    .rem-btn.main {
      margin-bottom: 25px;
      padding: 15px !important;
    }
    .aux {
      padding: 18px !important;
    }
  }
  .rem-btn.main {
    padding: 15px !important;
  }
}
