$primaryColor: #370f70;
$labelColor: #394761;
$inputBg: #F7F9FC;
$goldColor:#FFBB00;
$secondaryButtonColor:#FFE7A7;
$greyText:  #8C8C8C;
$blueColor:  #374ABE;
$headerParaText: #84888B;
$greenColor: #1aeec2;
$lightGrey: #F0F2F8;
$white: #ffffff;
$redButtonBg:#f10a0a59;
$iconContainerBg: #E5EEFF;
$redColorWithOpacity: rgb(241, 10 , 10 , 0.3);
$redColor:rgba(241, 10, 10, 1);
$redColor: #EE0808;
$mutedColor: #F0F2F6;
$blackColor: black;
$disabledText: #B3B5B9;
$sideNavBg: #d5dfe8;
$buttonColor:  #2C28281C;
