.invoice-container {
    width: 100%;
    background: white;
    -webkit-box-shadow: 0px 3px 6px #0000000D;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding-bottom: 50px;
}
.add_customer_conainer {
    display: flex;
    justify-content: space-between;
    .add_custoemr_card {
        height: 150px;
        width: 280px;
        border-radius: 10px;
        border: 1px solid #370f702b;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
.table-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 1px solid #370f7012;
    background: #d5dfe8;
    button {
        position: absolute;
        top: -26px;
        left: 50px;
    }
    .add {
        font-weight: 600;
    }
    span {
        font-weight: 600;
    }
    .invoice_items {
        flex: 0 0 50%;
    }
    .quantity {
        flex:  0 0 15%;
    }
    .price {
        flex:  0 0 15%;
    }
    .amount {
        flex:  0 0 20%;
        display: flex;
        justify-content: flex-end;
    }
}
.invoice__details{
    .tax-row {
        background:#d5dfe8 ;
    }
    padding-left: 15px 15px;
}