@import "colors";
@import "button";
@import "scroll";
@import "ejstable.scss";
@import "utils";
@import "sidebar";
@import "modal";
@import "invoice";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@mixin pointer($height, $left, $top) {
  height: $height;
  left: $left;
  top: $top;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif !important;
}

.form-wrapper{
  margin: 0 auto;
  margin-top: 20px;
  &.login {
    width: 30%;
  }
  &.add_product {
    width: 50%;
  }
}
input {
  height: 45px;
}
.form_input {
  input {
    height: 45px;
  }
}
label{
  font-weight: 600;
  margin-bottom: 0px !important;
  font-size: 13px;
}
.v--modal {
  overflow: auto !important;
}
.modal-form-wrapper {
  width: 70%;
  margin: 0 auto;
}
.v--modal-overlay {
  background: rgba(0, 0, 0, 0.8) !important;
}
.dialog-container {
  width: 100%;
  margin: 0 auto;
  .dropdown-search {
    background: transparent !important;
    border: none;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.logout_container{
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.filter-menu {
  display: flex;
  border-bottom: 1px solid #b2c2cd;
  .filter-item {
    padding-bottom: 5px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      border-bottom: 4px solid lightgray;
    }
    &.active {
      border-bottom: 4px solid $primaryColor;
    }
    span:first-child {
      font-size: 13px;
      &.active {
        font-weight: 800;
      }
    }
  }
}