@import "colors";
@import "button";
@import "scroll";
@import "ejstable.scss";
@import "utils";
@import "sidebar";
@import "modal";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@mixin pointer($height, $left, $top) {
  height: $height;
  left: $left;
  top: $top;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif !important;
}

.login_wrapper{
  margin: 0 auto;
  width: 40%;
  margin-top: 20px;
}
input {
  height: 45px;
}
.form_input {
  input {
    height: 45px;
  }
}
label{
  font-weight: 600;
}
.v--modal {
  overflow: auto !important;
}
.modal-form-wrapper {
  width: 70%;
  margin: 0 auto;
}