.primary-color {
    color: $primaryColor
}
.gold-color{
    color: $goldColor !important
}
h1, h2 h3, h4,h5,h6 {
    font-weight: 600 !important;
}
.table-icon {
    font-size: 20px;
    cursor: pointer;
}
textarea:focus, 
select.form-control:focus,
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 0 0 $primaryColor;
}
.bold-span {
    font-weight: 600;
}
.padding-right-none {
    padding-right: 0px !important;
}
.amount-figures {
    font-size: 23px;
    font-weight: 600;
    margin-right: 3px;
    color: #1c252c;
}
.currency{
    font-size: 20px;
    font-weight: 600;
    color: #1c252c;
}
.grey-text{
    color: #849194; 
}
.deep-grey {
    color: #4d6575;
}
.invoice-banner {
    display: flex;
    justify-content: space-between;
}
.invoice-header{
    font-size: 12px;
    line-height: 1.4; 
}
.counter {
    background: #dfe6f1;
    color: #3c5b8b;
    display: inline-block;
    padding: 0.35em 0.75em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown-select-wrapper {
    border: 1px solid lightgray;
    border-radius: 4px; 
    // border-color: $primaryColor;
    box-shadow: 0px 3px 6px #0000000d;
    i {
      color: lightgray;
    }
  }
  
  ::placeholder {
    font-size: 14px;
    font-style: italic;
    color: $primaryColor;
  }
  .dropdown-parent  {
    background: $white;
  }
  
  .dropdown__content {
    z-index: 1;
    position: absolute;
    left: 16px;
    width: 95.1%;
    box-shadow: 0px 3px 6px #0000000d;
    background: white;
    top: 41px;
    ul {
        list-style-type: none;
        display: block;
        margin: 0px !important;
        padding: none !important;
        .dropdown-list {
            padding: 12px 19px;
            border-bottom: 1px solid #1f444214;
            cursor: pointer;
            &:hover {
                background: #f0f4fa;
            }
        }
    }
  }
  .dropdown-select-container {
    height: 41px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid lightgray;
   
  }
 
  .height-100 {
      height: 100%;
  }
  .show-dropdown {
      display: block;
  }
  .hide-dropdown {
    display: none;
}
.form-control {
    height: calc(1.79em + 0.75rem + 2px) !important;
}